:host{
  font-size: 1rem;
  padding: .5rem;
  box-sizing: border-box;
  width: 80%;
  box-shadow: 1px 0 1rem #333;
}

.in {
  width: 100%;
  border: none;
}

.out{
  background: #ccc;
  color: #333;
  border-left: 1px solid #ccc;
	margin: 0;
  height: 75%;
  overflow: auto;
}

/** Markdown styling */
br {
    content: 'A';
    display: block;
    margin-bottom: 0.5em;
}
code {
    padding: 0 3px;
    border: 1px solid #CCC;
    border-radius: 2px;
    background: #FFF;
}
pre.code {
    padding: 2px 5px;
    border: 1px solid #DDD;
    background: #FFF;
    border-left-width: 3px;
}
